---
layout: home
title: Arkiv - Svenska fjällklätter&shy;projektet
---

<h2>Arkiv</h2>

<p>Här listas alla publicerade turskildringar, artiklar, essäer med mera som har producerats inom projektet. Använd sökrutan nedan för att filtrera resultatlistan, eller klicka på någon av taggarna i resultatlistan för att använda den som sökord.</p>

<input type="search" class="search_box" id="search_input" onkeyup="filterPostList(this.value)" onsearch="filterPostList(this.value)" placeholder="Sök...">

<ul id="post_list">
  {% for post in site.posts %}
  <li>
    <p>
      <span class="archive_link">
        <a href="{{post.url}}"><em>{{post.title}}</em> [{{post.type}}] [Publicerad {{post.date | date: "%Y-%m-%d"}}]</a>
      </span>
      {{post.summary}}
      <span class="archive_tags">
        {% assign sorted_tags = post.tags | sort %}
        {% for tag in sorted_tags %}
          <a href="#" onclick="addTagToSearchBox('{{ tag | upcase }}')">#{{ tag | upcase }}</a>
        {% endfor %}
      </span>
    </p>
  </li>
  {% endfor %}
</ul>

<script src="/assets/js/search.js"></script>
