<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Svenska fjällklätterprojektet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  </head>
  <body>
    <header>
      <nav class="navigation_bar">
        <a href="/">Hem</a>
      </nav>
      <h1>{{ page.title }}</h1>
      <p>
        <span class="author"><a href="mailto:fjallklatterprojektet@gmail.com">{{ page.author }}</a></span>
        <br>
        <span class="date">Publicerad {{ page.date | date: "%Y-%m-%d" }}</span>
      </p>
    </header>
    {{ content }}
    <footer>
      <nav class="footer_links">
        <a href="http://instagram.com/_u/{{ site.instagram_username }}/" aria-label="Instagram"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="mailto:{{ site.email }}" aria-label="Email"><i class="fa fa-square-envelope"></i></a>
        <a href="/feed.xml" aria-label="RSS"><i class="fa-solid fa-square-rss"></i></a>
      </nav>
    </footer>
  </body>
</html>
